.container{
    max-width: 600px;
    
}

.myBtn{
    background-color: blue !important;
    color: black;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}

.time{
    font-size: small !important;
}
